.bottom-modal {
  --bs-offcanvas-height: 80vh;

  min-height: 80vh;
}

.header-title {
  font-size: 1.35rem;
}

.modal-chevron {
  align-self: flex-end;
}

.blacklisted-icon {
  margin-right: 2px;
  margin-bottom: 3px;
}

.favourite-icon {
  margin-right: 6px;
  margin-bottom: 3px;
}
