.offcanvas-container {
  --bs-offcanvas-height: 80vh;

  min-height: 80vh;
}

.offcanvas-inner-container {
  background-color: #f3f3f3;
}

.distance {
  padding-left: 1.2rem;
  margin-top: -0.5rem;
  font-size: 90%;
}

.toilet-utilities-row {
  border-style: solid;
  border-radius: 0.375rem;
  border-color: lightgrey;
}

.non-exist-utility {
  opacity: 0.2;
}
