.checkbox {
  zoom: 1.25;
}

.dropdown-toggle::after {
  display: none !important; 
}

.filter-options-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.dropdown {
  min-width: calc(100vw - 1.5rem) !important;
}