.filter-row {
  margin-top: 10px;
  margin-bottom: 10px;  
}

.search-bar {
  width: 100px;
  transition: width 2s;
}

.filter-options-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group {
  max-height: calc(100vh - 20rem);
  overflow: scroll;
}