.toilet-loading-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: fit-content;
}

.toilet-loading-text {
  margin: 0px;
  padding-left: 10px;
}
