
.icons {
  margin-right: 3px;
}

.toilet-utilities {
  display: flex;
  justify-content: space-between;
  max-width: 460px;
  font-size: 0.9rem;
}

.box {
  background-color: #f3f3f3;
  border-style: solid;
  border-radius: 0.375rem;
  border-color: lightgrey;
  margin-bottom: 28px;
  padding: 12px 12px;
}