@import "../../custom";

.login-button {
  display: block;
  margin: 40px auto;
  width: auto;
  color: white;
  background-color: $primary;
  border: 1px solid $primary;
  border: 0;
  border-radius: 16px;
  font-weight: 600;
  padding: 10px 30px;
  transition: 0.2s;
}

.login-button:hover {
  cursor: pointer;
  color: white;
  box-shadow: 0 0 8px $primary;
  background-color: $primary;
}
