.preference {
  font-size: 0.7rem;
  border-color: lightgrey;
  border-radius: 0.4rem;
  border-style: solid;
  padding: 5px;
}

.card-header {
  display: flex;
  background-color: white !important;
  justify-content: space-between;
  border: none;
}

.toilet-utilities-row {
  border-style: solid;
  border-radius: 0.375rem;
  border-color: lightgrey;
}