.preference {
  font-size: 0.8rem;
  border-color: lightgrey;
  border-radius: 0.4rem;
  border-style: solid;
  padding: 5px;
  color: rgb(24, 24, 24);
}

.card-body {
  box-shadow: 5px 5px 10px #f3f3f3;
}

.card-body:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
}

.toilet-utilities-row {
  background-color: #f3f3f3;
  border-style: solid;
  border-radius: 0.375rem;
  border-color: #f3f3f3;
}

.num-row {
  display: flex;
  flex-direction: row;
  gap: 88px;
  margin-left: 8px;
}

.sitting {
  margin-right: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  border: none;
  margin: 0;
}
