.preference {
  font-size: 0.8rem;
  border-color: lightgrey;
  border-radius: 0.4rem;
  border-style: solid;
  padding: 5px;
  color: rgb(24 24 24);
}

.card-body {
  background-color: #f3f3f3;
}

.container {
  max-width: 600px;
}

.toilet-utilities-row {
  background-color: #f3f3f3;
  border-style: solid;
  border-radius: 0.375rem;
  border-color: lightgrey;
  max-width: 600px;
}

.num-row {
  display: flex;
  flex-direction: row;
  gap: 88px;
  margin-left: 8px;
}

.sitting {
  margin-right: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  border: none;
}
