<<<<<<< HEAD:frontend/src/components/ClusterDetails.module.scss
.offcanvas-container {
  --bs-offcanvas-height: 80vh;
  min-height: 80vh;
}

.distance {
  padding-left: 1.2rem;
  margin-top: -0.5rem;
  font-size: 90%;
}

.toilet-utilities-row {
  background-color: #f3f3f3;
  border-style: solid;
  border-radius: 0.375rem;
  border-color: lightgrey;
}

=======
>>>>>>> main:frontend/src/components/ToiletList/ToiletList.scss
.preference {
  font-size: 0.7rem;
  border-color: lightgrey;  
  border-radius: 0.4rem;
  border-style: solid;
  padding: 5px;
}

.card-header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  border: none;
}

.toilet-utilities-row {
  border-style: solid;
  border-radius: 0.375rem;
  border-color: lightgrey;
}