@import '../custom';

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.login-logo {
  height: auto;
  width: 100%;
  max-width: 250px;
  margin: 1em;
}

.login-title {
  padding-bottom: 1em;
}

.divider {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.divider-line {
  width: 15vh;
  color: black;
}

.continue-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  text-decoration: none;
  color: darkgrey;
}

.continue-text:hover {
  color: grey;
}
