.leaflet-pane {
  z-index: 0;
}

.location-marker {
  animation: glow 3s infinite;
}

@keyframes glow {
  0% {
    stroke-width: 0;
    stroke-opacity: .8;
  }
  100% {
    stroke-width: 20px;
    stroke-opacity: 0;
  }
}